//-----------------我要發問
.question {
    float: right;
    text-align: left;
    position: relative;
    margin: 0 0 15px 0;
    .button {
        a {
            background: url(../images/function2.png) no-repeat 5px 4px;
            padding: 2px 5px 2px 30px;
            margin: 5px 0 0;
            border-radius: 5px;
            border: 1px solid #CCC;
            display: block;
            color: #333;
            text-decoration: none;
            &:hover {
                background-color: #FFC;
                color: #333;
                text-decoration: none;
            }
        }
    }
    .block {
        background-color: #999;
        margin: 5px 0 0 0px;
        padding: 10px ;
        border-radius: 5px;
        position: absolute;
        right: 0;
        width: 250px;
        text-align: left;
        display:none;
        z-index: 999;
        &:before {
            content: "";
            background-image: url(../images/question_icon01.png);
            background-repeat: no-repeat;
            background-position: right 0px;
            display: block;
            height: 5px;
            margin: -15px 0 0 0;
            padding: 18px 0 0 0;
        }
        .del {
            position: absolute;
            top: 10px;
            right: 10px;
            a{
                display: block;
                &:focus{
                    box-shadow: 0 0px 0px 2px $color-yellow;
                }
            }
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                margin: 0 0 5px 0;
                width: 190px;
                a {
                    display: block;
                    background-color: #FFF;
                    padding: 3px 5px;
                    &:hover{
                        background-color: $primaryColor;
                        color:#fff;
                    }
                }
            }
        }
    }
}

.ap h3 {
    color: $secondaryColor;
    font-size: 1.25em;
}

//------------------Select 表單選擇
.selectform {
    margin: 10px 0 10px;
    clear: both;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 10px 5px;
    @include gradient(#fff, #eee, vertical);
    label {
        font-size: 0;
    }
    select {
        display: inline-block;
        width: 30%;
        @media(max-width: 530px) {
            display: block;
            width: 100%;
        }
    }
    input[type="text"] {
        width: 50%;
        line-height: 2.4em;
        height: 2.4em;
        padding: 0 24px 0 .5em;
        @media(max-width: 530px) {
            display: block;
            width: 100%;
        }
    }
    .btn {
        background-color: #666;
        position: relative;
        border: 1px solid #666;
        color: #fff;
        padding: 0px 20px;
        height: 27px;
        cursor: pointer;
        vertical-align: middle;
        margin: -2px 5px 0 0;
        font-family: "微軟正黑體";
        font-size: 1em;
        text-align: center;
        position: relative;
    }
    .text {
        padding: 3px;
        border: 1px solid #ccc;
    }
    .button {
        display: inline-block;
        input {
            padding: 0.4em;
            margin-top: -2px;
        }
        @media(max-width: 530px) {
            display: block;
            margin-top: 10px;
        }
    }
}





/*-*/

.panel-title>a {
    display: block;
}

.panel-default {
    clear: both;
}

//問答
.well {
    border-radius: 0;
    padding: 15px 20px;
    background-color: #e6e6e6;
    background-image: none;
    box-shadow: none;
    border: none;
    margin-bottom: 10px;
    line-height: 1.8em;
    clear: both;
}


// Accordion 收合
.accordion_grounp {
    overflow: hidden;
    .accordionblock {
        width: 100%;
        margin: 0 0 15px;
        
        // 
        $fileType: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other, rar;
        @each $fileType in $fileType {
            span.file_#{$fileType} {
                color: #fff;
                font-weight: bold;
                padding: 0.1em .3em;
                border-radius: 3px;
                min-width: 50px;
                text-align: center;
                margin-left: 5px;
            }
        }
        span {
            &.file_doc, &.file_docx, &.file_odt {
                background: #275cb7;
            }
            &.file_xls, &.file_xlsx, &.file_csv, &.file_ods {
                background: #387947;
            }
            &.file_ppt, &.file_pptx, &.file_odp, &.file_pdf {
                background: #c55a3b;
            }
            &.file_pdf {
                background: #c00;
            }
            &.file_zip, &.file_rar {
                background: #eb712e;
            }
            &.file_txt, &.file_other {
                background: #555;
            }
            &.file_mov {
                background: #009999;
            }
            &.file_mp3, &.file_mp4 {
                background: #088ecc;
            }
            &.file_jpg {
                background: #6c29a4;
            }
            &.file_wmv {
                background: #430a1f;
            }
        }
        div.Q {
            border-radius: 5px;
            width: 100%;
            a {
                padding: 15px 100px 15px 15px;
                border-radius: 5px;
                display: block;
                position: relative;
                text-align: left;
                // width: 100%;
                line-height: 1.5em;
                border: 1px solid #eee;
                cursor: pointer;
                font-size: 1.125em;
                font-weight: bolder;
                background: rgb(238, 238, 238);
                background: linear-gradient(180deg, rgba(238, 238, 238, 1) 0%, rgba(226, 226, 226, 1) 71%, rgba(221, 221, 221, 1) 100%);
                transition: .5s;
                color: #000;
                &:hover {
                    background: rgb(221, 221, 221);
                    background: linear-gradient(180deg, rgba(221, 221, 221, 1) 0%, rgba(204, 204, 204, 1) 100%);
                    box-shadow: none;
                }
                &:focus {
                    background: rgb(221, 221, 221);
                    background: linear-gradient(180deg, rgba(221, 221, 221, 1) 0%, rgba(204, 204, 204, 1) 100%);
                }
            }
            .word {
                position: absolute;
                top: 12px;
                right: 40px;
                color: #333;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 5px;
                padding: 3px 5px;
                &:after {
                    content: "";
                    border: 2px solid #333;
                    border-top: none;
                    border-left: none;
                    position: absolute;
                    top: 15px;
                    right: -20px;
                    width: 8px;
                    height: 8px;
                    transform: rotate(225deg);
                    transition: transform 0.5s;
                }
                &.close {
                    &:after {
                        top: 10px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        .answer {
            color: #000;
            padding: 0px 15px 0px 15px;
            .content {
                p {
                    margin: 0;
                    padding: 10px 0 5px;
                    line-height: 1.7em;
                    color: #333;
                    a {
                        color: $primaryColor;
                    }
                }
                ul,
                ol {
                    margin: 5px 0 10px;
                    padding: 0;
                    li {
                        list-style-type: none;
                        border-bottom: 1px solid #ccc;
                        position: relative;
                        padding: 10px 10px 8px 15px;
                        line-height: 1.6em;
                        &:before {
                            content: '';
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: #333;
                            position: absolute;
                            left: 0;
                            top: 19px;
                        }
                        p {
                            margin: 0;
                            padding: 0;
                        }
                        a {
                            text-decoration: underline;
                            color: $primaryColor;
                            &:hover {
                                color: $color-red;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .answer_list {
                margin: 10px 0;
                padding: 0;
                li {
                    list-style-type: none;
                    border-bottom: 1px solid #ccc;
                    position: relative;
                    &:before {
                        content: '';
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: #333;
                        position: absolute;
                        left: 0;
                        top: 19px;
                    }
                    a {
                        display: block;
                        padding: 10px 10px 8px 15px;
                        text-decoration: none;
                        color: $primaryColor;
                        &:hover {
                            color: $aColor;
                        }
                    }
                    &:hover {
                        background-color: lighten($primaryColor, 65);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
//aplist01
.aplist01 {
    clear: both;
    ul {
        margin: 0 0 0 0px;
        padding: 0;
        li {
            width: 32%;
            float: left;
            list-style-type: none;
            margin: 0 16px 10px 0;
            a {
                display: block;
                border: 1px solid #CCC;
                padding: 10px 15px 10px 25px;
                background-image: url(../images/nplist_icon01.png);
                background-position: 10px 14px;
                background-repeat: no-repeat;
                border-radius: 5px;
                &:hover {
                    background-color: #FFC;

                    text-decoration: none;
                }
            }
        }
    }
}


@media (min-width: 1200px) {
    .aplist01 ul li:nth-child(3n) {
        margin: 0 0 10px 0
    }
}

@media (max-width:1199px) and (min-width: 768px) {
    .aplist01 ul li {
        margin: 0 12px 10px 0;
    }
    .aplist01 ul li:nth-child(3n) {
        margin: 0 0 10px 0
    }
}


@media (max-width:767px) {
    .aplist01 ul li {
        margin: 0 10px 10px 0;
        width: 49%;
    }
    .aplist01 ul li:nth-child(2n) {
        margin: 0 0 10px 0
    }
}

@media (max-width:600px) {
    .aplist01 ul li {
        margin: 0 0px 10px 0;
        width: 100%;
    }
}

//資遣解僱小百科
.infographic {
    text-align: center;
    background-color: #cce09a;
    margin-bottom: 30px;
    padding: 0 0 10px;
}

@media (max-width:1199px) {
    .infographic img {
        width: 100%
    }
}

//epaperTb
.epaperTb {
    margin-bottom: 20px;
    .fileType,
    .explain {
        margin-right: 5px;
        img {
            vertical-align: middle;
        }
    }
    @include screen('mobile') {
        background-color: transparent !important; //Force table to not be like tables anymore
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            border: 1px solid #ccc;
            margin-bottom: 10px; // background-color: #333;
        }

        td {
            // Behave  like a "row"
            border: none !important;
            border-bottom: 1px solid #eee !important;
            position: relative;
            padding: .5em;
            white-space: normal;
            text-align: left;
            &:before {
                content: attr(data-title);
                position: absolute;
                top: .5em;
                left: .5em;
                width: 20%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: bold;
                color: #000;
            }
        }
    }
}


//
.searchform{
    .form_content {
        .to {
            float: left;
            margin-top: 5px;
        }
        .select_date {
            float: left;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: .3em;
            input {
                margin-bottom: 0;
                border: none;
                padding: 0.4em;
            }
        }
        input[type="radio"] {
            float: left;
            margin: 3px 10px 5px 0;
        }
        .radiocontent {
            padding: 5px;
            display: block;
        }
        @media(max-width: 600px) {
            .to {
                display: none;
            }

            .select_date {
                width: 100%;
                input {
                    width: 90%;
                }
            }
            select {
                width: 100%;
            }
            .location {
                width: 90%;
            }
            .enumber {
                width: 78%;
            }
        }
        @media(max-width: 500px) {
            .enumber {
                width: 75%;
            }
        }
        @media(max-width:480px) {
            .select_date {
                width: 100%;
                input {
                    width: 85%;
                }
            }
            .location {
                width: 85%;
            }
            .enumber {
                width: 65%;
            }
        }
        @media(max-width:350px) {
            .select_date {
                width: 100%;
                input {
                    width: 80%;
                }
            }
            .location {
                width: 80%;
            }
            .enumber {
                width: 55%;
            }
        }
        @media(max-width: 600px) {
            .select_dateblock {
                width: 93%;
                float: left;
                @media(max-width: 460px) {
                    width: 90%;
                }
                @media(max-width:350px) {
                    width: 85%;
                }
                .select_date {
                    width: 100%;
                    input {
                        width: 90%;
                        @media(max-width: 510px) {
                            width: 85%;
                        }
                        @media(max-width:380px) {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
    // .form_contentinline {
    //     input,
    //     select,
    //     textarea {
    //         width: 50%;
    //         @include screen('tablet') {
    //             width: 60%;
    //         }
    //         @include screen('mobile') {
    //             width: 100%;
    //         }
    //     }

    // }
}