.lp {
    table {
        tr {
            &:hover {
                background-color: #FFC;
            }
        }
        td {
            &.date {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
            &.num {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
        }
    }
    .table_list {
        margin-bottom: 20px;
        .fileType,
        .explain {
            margin-right: 5px;
            img {
                vertical-align: middle;
            }
        }
        @include screen('mobile') {
            background-color: transparent !important; //Force table to not be like tables anymore
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            tr {
                border: 1px solid #ccc;
                margin-bottom: 10px; // background-color: #333;
            }

            td {
                // Behave  like a "row"
                border: none !important;
                border-bottom: 1px solid #eee !important;
                position: relative;
                padding-left: 45% !important;
                white-space: normal;
                text-align: left;
                &:before {
                    content: attr(data-title);
                    position: absolute;
                    top: .5em;
                    left: .5em;
                    width: 20%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                    color: #000;
                }
            }
        }
    }
    .list {
        ul,
        ol {
            list-style-type: none;
            padding: 0;
            border-top: 2px solid $primaryColor;
            li {
                padding: 1em 0;
                border-bottom: 1px solid #DDD;
                position: relative; // outline: 1px solid blue;
                a {
                    display: block;
                    padding-left: 2em;
                    position: relative;
                    line-height: 1.45em;
                    .num {
                        width: 1.5em;
                        text-align: right;
                        position: absolute;
                        top: 0;
                        left: 0;
                        &:after {
                            content: ".";
                            display: inline-block;
                        }
                    }
                }
                span.dept {
                    display: inline-block;
                    font-size: .938em;
                    @include screen("mobile") {
                        display: block;
                    }
                }
                time {
                    display: block;
                    color: #AAA;
                    font-size: .938em;
                }
            }
        }
    }
    .album {
        margin: 1em auto;
        overflow: hidden;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                @include make-xs-column(12);
                @include make-sm-column(4);
                @include make-md-column(4);
                @include make-lg-column(4);
                @include gutter();
                a {
                    display: block;
                    text-align: center;
                }
                .imgOuter {
                    width: 100%;
                    @include aspect-ratio(4, 3);
                }
            }
        }
    }
}

//說明
.explanation {
    margin: 0 0 10px;
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 20px;
    color: $color-red;
}

/*--------------listbutton*/
.listbutton {
    clear: both;
    float: right;
    margin: 0 0 10px;
    ul {
        margin: 0;
        padding: 0;
        li {
            float: left;
            list-style-type: none;
            white-space: nowrap;
            margin: 0 0 0 5px;
            a {
                display: inline-block;
                padding: 6px 10px 6px;
                text-decoration: none;
                background-color: #959595;
                color: #fff;
                border-radius: 5px;
                &:hover {
                    background-color: $color-orange;
                }
            }
        }
    }
}
/*----------------------------------------------------listph*/
.listph {
    margin: 0;
    padding: 30px 0 10px;
    clear: both;
    ul {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        overflow: hidden;
        li {
            list-style-type: none;
            float: left;
            margin: 0 50px 30px 0;
            text-align: center;
            vertical-align: middle;
            a {
                display: block;
                &:focus {
                    box-shadow: 0 0px 0px 2px $color-yellow;
                }
            }
            img {
                width: 170px;
                height: 60px;
                padding: 5px;
                border: 1px solid #ccc;
                box-shadow: 0 0 3px #CCC;
                background-color: #fff;
                @include box-sizing(border-box);
            }
        }
    }
}
@media (min-width:1200px) {
    .listph ul li:nth-child(4n) {
        margin: 0 0 30px 0
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .listph ul li {
        margin: 0 85px 30px 0;
    }
    .listph ul li:nth-child(3n) {
        margin: 0 0 30px 0;
    }
}
@media (min-width:790px) and (max-width:991px) {
    .listph ul {
        width: 750px;
    }
    .listph ul li {
        margin: 0 20px 30px 0;
    }
    .listph ul li:nth-child(4n) {
        margin: 0 0px 30px 0;
    }
}
@media (min-width:768px) and (max-width:789px) {
    .listph ul {
        width: 750px;
    }
    .listph ul li {
        margin: 0 10px 30px 0;
    }
    .listph ul li:nth-child(4n) {
        margin: 0 0px 30px 0;
    }
}
@media (min-width:755px) and (max-width:767px) {
    .listph ul li {
        margin: 0 5px 30px 0;
    }
    .listph ul li:nth-child(4n) {
        margin: 0 0 30px 0
    }
}
@media (min-width:700px) and (max-width:754px) {
    .listph ul li {
        margin: 0 25px 30px 30px;
    }
    .listph ul li:nth-child(3n) {
        margin: 0 0 30px 30px
    }
}
@media (min-width:650px) and (max-width:699px) {
    .listph ul li {
        margin: 0 17px 30px;
    }
    .listph ul li:nth-child(3n) {
        margin: 0 0 30px 17px
    }
}
@media (min-width:590px) and (max-width:649px) {
    .listph ul li {
        margin: 0 6px 30px;
    }
    .listph ul li:nth-child(3n) {
        margin: 0 0 30px 6px
    }
}
@media (min-width:480px) and (max-width:589px) {
    .listph ul {
        width: 400px;
    }
    .listph ul li {
        margin: 0 25px 30px;
    }
    .listph ul li:nth-child(2n) {
        margin: 0 0 30px 5px
    }
}
@media (min-width:450px) and (max-width:479px) {
    .listph ul li {
        margin: 0 30px 30px;
    }
    .listph ul li:nth-child(2n) {
        margin: 0 0 30px 0px
    }
}
@media (min-width:375px) and (max-width:449px) {
    .listph ul {
        width: 350px;
    }
    .listph ul li {
        margin: 0 6px 30px 0px;
    }
    .listph ul li:nth-child(2n) {
        margin: 0 0 20px 0px
    }
}
@media (max-width:374px) {
    .listph ul {
        width: 170px;
    }
    .listph ul li {
        margin: 0 0px 20px 0px;
    }
}
/*----------------------------------------------------listph2*/
.listph2>ul {
    list-style: none;
    margin: 0 0 0 0px;
    padding: 10px 0;
    overflow: hidden;
    width: 100%;
    line-height: 100%;
}
.listph2>ul>li {
    float: left;
    padding: 9px 0 6px;
    margin: 0 15px 15px 0;
    text-align: center;
    border: 1px solid #bbb;
    width: 31.5%;
    height: 290px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 4px;
    text-align: center;
    background-color: #fff
}
.listph2 li .image {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0px 10px;
    @include box-sizing(border-box);
}
.listph2 li .image img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 170px;
}
.listph2 li p {
    height: 50px;
    margin: 10px 0px 5px;
    padding: 0;
    text-align: center;
    line-height: 150%;
    overflow: hidden;
    border-bottom: 1px dotted #bbb;
}
.listph2 li a {
    text-decoration: none;
}
.listph2 ul ul {
    list-style: none;
    margin: 0 auto;
    padding: 6px 0 0;
    line-height: 110%;
    color: #333;
}
.listph2 ul ul li {
    margin: 0 0;
    padding: 0;
    display: inline-block;
    text-align: center
}
.listph2 ul ul li a {
    display: block;
    padding: 6px 10px;
    background-color: #999;
    border-radius: 0px;
    position: relative;
    color: #fff;
}
.listph2 ul ul li a:hover {
    color: #FF6;
}
.listph2 ul ul li.spacing {
    margin: 0 25px 0 0
}
@media (min-width:1200px) {
    .listph2>ul>li:nth-child(3n) {
        margin: 0 0 15px 0;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .listph2>ul>li {
        margin: 0 10px 15px 0;
    }
    .listph2>ul>li:nth-child(3n) {
        margin: 0 0 15px 0;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .listph2>ul>li {
        margin: 0 10px 15px 0;
    }
    .listph2>ul>li:nth-child(3n) {
        margin: 0 0 15px 0;
    }
}
@media (min-width:532px) and (max-width:767px) {
    .listph2>ul>li {
        margin: 0 20px 20px 0;
        width: 48%;
    }
    .listph2>ul>li:nth-child(2n) {
        margin: 0 0 20px 0;
    }
}
@media (min-width:525px) and (max-width:649px) {
    .listph2>ul>li {
        margin: 0 15px 20px 0;
        width: 48%;
    }
    .listph2>ul>li:nth-child(2n) {
        margin: 0 0 20px 0;
    }
}
@media (min-width:481px) and (max-width:524px) {
    .listph2>ul>li {
        margin: 0 10px 15px 0;
        width: 48%;
    }
    .listph2>ul>li:nth-child(2n) {
        margin: 0 0 15px 0;
    }
}
@media (max-width:480px) {
    .listph2>ul>li {
        margin: 0 0px 15px 0;
        width: 99%;
    }
    .listph2 ul ul li {
        margin: 0 15px 0 0;
    }
}
// 新增
// 條件區塊
.condition_block {
    display: flex;
    justify-content: space-between;
    margin: .8em 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: .5em;
    @include screen('xs_mobile') {
        display: block;
    }
}
.condition_rightblock {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    // RSS
    .RSSbtn {
        flex: none;
        display: flex;
        justify-content: flex-end;
        button {
            margin: 0;
            &.btn {
                padding: 0.3em 1em;
            }
        }
    }
    // 條件查詢
    .condition_searchbtn {
        flex: none;
        margin-left: 5px;
        display: flex;
        justify-content: flex-end;
        button {
            margin: 0;
            &.btn {
                padding: 0.3em 1em;
            }
        }
    }
}
.condition_searchblock {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: #fff;
    display: none;
    .form_grid {
        border: none;
    }
}
// lp_new01
.item_listblock {
    .item_list {
        display: flex;
        padding: 5px 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        // background-color: #fff;
        // border-radius: 5px;
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        @include screen('mobile') {
            flex-wrap: wrap;
        }
        .number {
            flex: none;
            flex-basis: 30px;
            max-width: 30px;
            @include screen('mobile') {
                flex-basis: 40px;
                max-width: 40px;
                padding: 5px;
                background-color: #000;
                color: #fff;
                display: flex;
                justify-content: center;
                margin-bottom: 8px;
            }
        }
        .pic {
            flex: none;
            flex-basis: 25%;
            max-width: 25%;
            height: 160px;
            margin-bottom: 15px;
            background-color: #eee;
            overflow: hidden;
            position: relative;
            @include screen('mobile') {
                flex-basis: 100%;
                max-width: 100%;
                height: 240px;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                transition: .5s;
            }
        }
        .content {
            flex: auto;
            flex-basis: calc(100% - 30px - 25%);
            max-width: calc(100% - 30px - 25%);
            padding-left: 20px;
            box-sizing: border-box;
            @include screen('mobile') {
                flex-basis: 100%;
                max-width: 100%;
                padding-left: 0;
            }
            h3 {
                margin: 5px 0 10px;
                padding: 0;
                font-size: 1.25em;
                a {
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .date {
                display: flex;
                span {
                    font-size: 0.938em;
                    color: #666;
                    padding: 0;
                    margin-right: 30px;
                    border-radius: 5px;
                }
            }
            p {
                font-size: 0.938em;
                padding: 0;
                margin: 10px 0;
            }
        }
    }
    // 
    .item_list2 {
        padding: 5px 0 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
        .date {
            font-size: 1em;
            margin-bottom: 8px;
            color: #666;
        }
        h3 {
            margin: 5px 0 10px;
            padding: 0;
            font-size: 1.25em;
            a {
                text-decoration: underline;
                display: block;
                @include text-overflow;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .data {
            span {
                font-size: 1em;
                color: #666;
                padding: 0 15px 0 15px;
                margin-bottom: 2px;
                display: inline-block;
                position: relative;
                white-space: nowrap;
                @media(max-width: 480px) {
                    width: 100%;
                }
                &:after {
                    content: '';
                    width: 5px;
                    height: 5px;
                    background-color: #777;
                    border-radius: 50%;
                    position: absolute;
                    left: 0px;
                    top: 9px;
                }
            }
        }
    }
}
















/*--------------listbutton*/

.listbutton {
    clear: both;
    float: right;
    margin: 0 0 10px;
    ul {
        margin: 0;
        padding: 0;
        li {
            float: left;
            list-style-type: none;
            white-space: nowrap;
            margin: 0 0 0 5px;
            a {
                display: inline-block;
                padding: 6px 10px 6px;
                text-decoration: none;
                background-color: #959595;
                color: #fff;
                border-radius: 5px;
                &:hover {
                    background-color: $color-orange;
                }
            }
        }
    }
}


















/*----------------------------------------------------listph*/

.listph {
    margin: 0;
    padding: 30px 0 10px;
    clear: both;
    ul {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        overflow: hidden;
        li {
            list-style-type: none;
            float: left;
            margin: 0 50px 30px 0;
            text-align: center;
            vertical-align: middle;
            a{
                display: block;
                &:focus{
                    box-shadow: 0 0px 0px 2px $color-yellow ;
                }
            }
            img {
                width: 170px;
                height: 60px;
                padding: 5px;
                border: 1px solid #ccc;
                box-shadow: 0 0 3px #CCC;
                background-color: #fff;
                @include box-sizing(border-box);
            }
        }
    }
}

@media (min-width:1200px) {
    .listph ul li:nth-child(4n) {
        margin: 0 0 30px 0
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .listph ul li {
        margin: 0 85px 30px 0;
    }
    .listph ul li:nth-child(3n) {
        margin: 0 0 30px 0;
    }
}

@media (min-width:790px) and (max-width:991px) {
    .listph ul {
        width: 750px;
    }
    .listph ul li {
        margin: 0 20px 30px 0;
    }
    .listph ul li:nth-child(4n) {
        margin: 0 0px 30px 0;
    }
}

@media (min-width:768px) and (max-width:789px) {
    .listph ul {
        width: 750px;
    }
    .listph ul li {
        margin: 0 10px 30px 0;
    }
    .listph ul li:nth-child(4n) {
        margin: 0 0px 30px 0;
    }
}

@media (min-width:755px) and (max-width:767px) {

    .listph ul li {
        margin: 0 5px 30px 0;
    }
    .listph ul li:nth-child(4n) {
        margin: 0 0 30px 0
    }
}

@media (min-width:700px) and (max-width:754px) {
    .listph ul li {
        margin: 0 25px 30px 30px;
    }
    .listph ul li:nth-child(3n) {
        margin: 0 0 30px 30px
    }
}

@media (min-width:650px) and (max-width:699px) {
    .listph ul li {
        margin: 0 17px 30px;
    }
    .listph ul li:nth-child(3n) {
        margin: 0 0 30px 17px
    }
}

@media (min-width:590px) and (max-width:649px) {
    .listph ul li {
        margin: 0 6px 30px;
    }
    .listph ul li:nth-child(3n) {
        margin: 0 0 30px 6px
    }
}

@media (min-width:480px) and (max-width:589px) {
    .listph ul {
        width: 400px;
    }
    .listph ul li {
        margin: 0 25px 30px;
    }
    .listph ul li:nth-child(2n) {
        margin: 0 0 30px 5px
    }
}

@media (min-width:450px) and (max-width:479px) {

    .listph ul li {
        margin: 0 30px 30px;
    }
    .listph ul li:nth-child(2n) {
        margin: 0 0 30px 0px
    }
}

@media (min-width:375px) and (max-width:449px) {
    .listph ul {
        width: 350px;
    }
    .listph ul li {
        margin: 0 6px 30px 0px;
    }
    .listph ul li:nth-child(2n) {
        margin: 0 0 20px 0px
    }
}

@media (max-width:374px) {
    .listph ul {
        width: 170px;
    }
    .listph ul li {
        margin: 0 0px 20px 0px;
    }
}







/*----------------------------------------------------listph2*/

.listph2>ul {
    list-style: none;
    margin: 0 0 0 0px;
    padding: 10px 0;
    overflow: hidden;
    width: 100%;
    line-height: 100%;
}

.listph2>ul>li {
    float: left;
    padding: 9px 0 6px;
    margin: 0 15px 15px 0;
    text-align: center;
    border: 1px solid #bbb;
    width: 31.5%;
    height: 290px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 4px;
    text-align: center;
    background-color: #fff
}

.listph2 li .image {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0px 10px;
    @include box-sizing(border-box);
}

.listph2 li .image img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 170px;
}

.listph2 li p {
    height: 50px;
    margin: 10px 0px 5px;
    padding: 0;
    text-align: center;
    line-height: 150%;
    overflow: hidden;
    border-bottom: 1px dotted #bbb;
}

.listph2 li a {
    text-decoration: none;
}

.listph2 ul ul {
    list-style: none;
    margin: 0 auto;
    padding: 6px 0 0;
    line-height: 110%;
    color: #333;
}

.listph2 ul ul li {
    margin: 0 0;
    padding: 0;
    display: inline-block;
    text-align: center
}

.listph2 ul ul li a {
    display: block;
    padding: 6px 10px;
    background-color: #999;
    border-radius: 0px;
    position: relative;
    color: #fff;
}

.listph2 ul ul li a:hover {
    color: #FF6;
}

.listph2 ul ul li.spacing {
    margin: 0 25px 0 0
}

@media (min-width:1200px) {
    .listph2>ul>li:nth-child(3n) {
        margin: 0 0 15px 0;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .listph2>ul>li {
        margin: 0 10px 15px 0;
    }
    .listph2>ul>li:nth-child(3n) {
        margin: 0 0 15px 0;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .listph2>ul>li {
        margin: 0 10px 15px 0;
    }
    .listph2>ul>li:nth-child(3n) {
        margin: 0 0 15px 0;
    }
}

@media (min-width:532px) and (max-width:767px) {
    .listph2>ul>li {
        margin: 0 20px 20px 0;
        width: 48%;
    }
    .listph2>ul>li:nth-child(2n) {
        margin: 0 0 20px 0;
    }
}

@media (min-width:525px) and (max-width:649px) {
    .listph2>ul>li {
        margin: 0 15px 20px 0;
        width: 48%;
    }
    .listph2>ul>li:nth-child(2n) {
        margin: 0 0 20px 0;
    }
}

@media (min-width:481px) and (max-width:524px) {
    .listph2>ul>li {
        margin: 0 10px 15px 0;
        width: 48%;
    }
    .listph2>ul>li:nth-child(2n) {
        margin: 0 0 15px 0;
    }
}

@media (max-width:480px) {
    .listph2>ul>li {
        margin: 0 0px 15px 0;
        width: 99%;
    }
    .listph2 ul ul li {
        margin: 0 15px 0 0;
    }
}